.darkmode-body { 
    background-color: #212529;
    color: #adb5bd !important;
    a {
        color: #adb5bd;
    }
    p {
        color: #adb5bd !important;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: #ffffff !important;
    }
    .form-control {
        background-color: #212529;
        border-color: #40474e;
        color: #ffffff;
    }
    .header-content-wrapper {
        background-color: #2b3035 !important;
    }
    .form-control {
        color: #ffffff;
    }
    .main-logo {
        filter: brightness(100);
    }
    .header-left-content {
        .search-bar {
            .form-control {
                background-color: #212529;
                border-color: #3e444b;
                &:focus {
                    border-color: #ffffff;
                }
            }
            img {
                filter: brightness(100);
            }
        }
    }
    .header-right-content  {
        .fullscreen-btn {
            img {
                filter: brightness(100);
            }
            &.active {
                &::before {
                    filter: invert(1);
                }
            }
        }
        .apps-option {
            img {
                filter: brightness(100);
            }
            .dropdown-menu {
                .dropdown-wrap {
                    background-color: #212529;
                    .dropdown-item {
                        span {
                            color: #ffffff;
                        }
                        &:hover {
                            background-color: #2b3035;
                        }
                    }
                }
            }
            .dropdown-menu .dropdown-footer {
                border-top: 1px solid #2b3035;
                background: #2b3035;
                border-radius: 0 0 7px 7px;
            }
        }
       
        .messenger-option {
            img {
                filter: brightness(100);
            }
            .dropdown-menu {
                .dropdown-wrap {
                    background-color: #212529;
                    .dropdown-item {
                        span {
                            color: #ffffff;
                        }
                        &:hover {
                            background-color: #2b3035;
                        }
                    }
                }
            }
            .dropdown-menu .dropdown-footer {
                border-top: 1px solid #2b3035;
                background: #2b3035;
                border-radius: 0 0 7px 7px;
            }
        }
        .notification-option {
            img {
                filter: brightness(100);
            }
            .dropdown-menu {
                .dropdown-wrap {
                    background-color: #212529;
                    .dropdown-item {
                        span {
                            color: #ffffff !important;
                        }
                        &:hover {
                            background-color: #2b3035;
                        }
                    }
                }
            }
            .dropdown-menu .dropdown-footer {
                border-top: 1px solid #2b3035;
                background: #2b3035;
                border-radius: 0 0 7px 7px;
            }
        }
    }
    .header-area {
        &.is-sticky {
            &::before {
                background-color: #212529;
            }
        }
    }
    .header-right-content .header-right-option.profile-nav-item.dropdown .dropdown-menu {
        background-color: #212529;
        .dropdown-header {
            border-color: #383e45;
            .name {
                color: #ffffff;
            }
            a {
                color: #adb5bd;
                &:hover {
                    color: #4fcb8d;
                }
            }
        }
        .dropdown-footer {
            border-color: #383e45;
        }
        .dropdown-wrap .profile-nav .nav-item .nav-link {
            color: #adb5bd;
            i {
                color: #adb5bd;
            }
            &:hover {
                color: #4fcb8d;
                i {
                    color: #4fcb8d;
                }
            }
        }
    }
    .sidebar-menu {
        .submenu {
            background-color: #2b3035;
            .list-group-item a {
                color: #ffffff;
            }
        }
        .first-menu {
            .list-group-item {
                .icon {
                    background-color: #2b3035;
                    img {
                        filter: brightness(100);
                    }
                }
            }
        }
        
    }
    .card-box-style {
        background-color: #2b3035;
    }
    .single-features {
        background-color: #2b3035;
        border-color: #2b3035;
    }
    .single-audience {
        background-color: #212529;
        border-color: #2b3035;
    }
    .single-website-performance {
        background-color: #212529;
        border-color: #2b3035;
        box-shadow: none;
    }
    .single-up-and-down {
        background-color: #212529;
        border-color: #2b3035;
    }
    .overview-content {
        .total-overview {
            li {
                button {
                    background-color: #212529;
                    border-color: #2b3035;
                    color: #adb5bd;
                }
            }
        }
        span {
            color: #adb5bd;
        }
    }
    
    .main-title {
        .form-select {
            border-color: #212529;
            color: #adb5bd;
        }
    }
    .total-visits-content {
        .table {
            thead {
                tr {
                    th {
                        color: #adb5bd;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        span {
                            color: #ffffff !important;
                        }
                    }
                }
            }
        }
    }
    .total-visits-content .table thead tr th {
        border-color: #3e444b;
    }
    .table>:not(caption)>*>* {
        border-color: #3e444b;
    }
    .total-browse-content .table thead {
        tr th {
            color: #adb5bd;
            border-color: #3e444b;
        }
    }
    .total-browse-content .table {
        tbody {
            tr {
                th {
                    a {
                        span {
                            color: #ffffff;
                        }
                    }
                }
                td {
                    span {
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .footer-content {
        background-color: #2b3035;
        border-color: #2b3035;
    }
    .template-sidebar-option {
        background: #212529;
        .offcanvas-header {
            background-color: #2f353b;
            border-color: #212529;
            img {
                filter: brightness(100);
            }
        }
        .offcanvas-body {
            background-color: #2f353b;
        }
    }
    .btn-close {
        opacity: 1;
    }
    .preloader {
        background-color: #2b3035;
        img {
            filter: brightness(100);
        }
    }
    .main-content-wrap {
        &.style-two {
            background-color: #212529;
        }
    }
    .header-area {
        &.header-style-two {
            background-color: #262b2f;
        }
    }
    .side-menu-area {
        .sidebar-nav {
            #sidebar-menu {
                background-color: #2b3035;
            }
            .metismenu {
                li {
                    &.mm-active .box-style {
                        background-color: #212529;
                        color: #ffffff;
                    }
                    &:hover .box-style {
                        background-color: #212529;
                        color: #ffffff;
                    }
                    .box-style .icon {
                        background-color: #212529;
                        img {
                            filter: brightness(100);
                        }
                    }
                    a {
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .card-box-style.rounded {
        border-color: #3e444b;
    }
    .main-title {
        &.border-style {
            border-color: #3e444b;
        }
    }
    .student-list-wrap {
        li {
            .progress-wrap {
                .student-present {
                    .student-name {
                        color: #ffffff;
                    }
                    .present {
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .welcome-back-content {
        p {
            color: #ffffff !important;
        }
    }
    .single-group {
        border-color: #3e444b;
        background-color: #212529;
        box-shadow: none;
        .add-member-wrap li .dropdown .dropdown-menu {
            border-color: #3e444b;
            background-color: #212529;
            box-shadow: none;
            .dropdown-item {
                color: #ffffff;
                i {
                    color: #ffffff;
                }
                &:hover {
                    color: #ff0000;
                    i {
                        color: #ff0000;
                    }
                }
            }
        }
    }
    .single-total {
        border-color: #3e444b;
        background-color: #2b3035;
        .view-btn {
            background-color: #212529;
            color: #ffffff;
            border-color: #3e444b;
        }
    }
    .media-files-content .table tbody tr td span {
        color: #adb5bd;
    }
    .calendar-wrap {
        background-color: #2b3035;
        .fc .fc-daygrid-day-number {
            color: #ffffff;
            text-decoration: none;
            &:hover {
                color: #4fcb8d;
            }
        }
    }
    .main-title .view-btn {
        background: #212529;
        border-color: #3e444b;
        color: #ffffff;
    }
    .main-title .form-select {
        background-color: #212529;
        border-color: #3e444b;
        color: #ffffff;
    }
    .single-employees-availability {
        border-color: #3e444b;
        background-color: #212529;
        box-shadow: none;
    }
    .total-hiring-sources-content {
        background-color: #2b3035;
        border-color: #3e444b;
    }
    .send-invitation-content h3 {
        border-color: #3e444b;
    }
    .send-invitation-content .invitation-form .form-group .form-control {
        background-color: #212529;
        border-color: #3e444b;
    }
    .send-invitation-content .invitation-form {
        border-color: #3e444b;
    }
    .upcoming-interview-content .interviews-wrap .single-interview {
        background-color: #212529;
        border-color: #3e444b;
    }
    .upcoming-interview-content .interviews-wrap {
        border-color: #3e444b;
    }
    .calendar-wrap.style-two .fc-header-toolbar {
        border-color: #3e444b;
    }
    .performance-date {
        background-color: #2b3035;
    }
    .performance-date-list li {
        background-color: #212529;
        border-color: #3e444b;
        box-shadow: none;
    }
    .calendar-wrap.style-two .fc-today-button {
        background-color: #212529;
        border-color: #3e444b;
        box-shadow: none;
        color: #ffffff;
    }
    .page-title-area .page-title-list li {
        color: #ffffff;
        &::before {
            background-color: #ffffff;
        }
    }
    .chat-content-area .sidebar-left .sidebar {
        background-color: #2b3035;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-container {
        background-color: #2b3035 ;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list {
        background-color: #2b3035 ;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-header {
        border-color: #40474e;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-container .chat-content .chat.chat-left .chat-body .chat-message {
        background-color: #212529;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-container .chat-content .chat .chat-body .chat-message p {
        color: #ffffff !important;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-footer {
        background-color: #2b3035 ;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-footer {
        border-color: #40474e;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-footer form .form-control {
        border-color: #40474e;
        background-color: #212529;
        color: #ffffff;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-list-footer form .others-option-list {
        background-color: #212529;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-container .badge span {
        background-color: #2b3035;
    }
    .chat-content-area .content-right .chat-list-wrapper .chat-list .chat-container .badge::before {
        background-color: #40474e;
    }
    .chat-content-area .sidebar-left .sidebar .top-chat-menu {
        background-color: #212529;
    }
    .chat-content-area .sidebar-left .sidebar .top-chat-menu li a {
        color: #ffffff;
    }
    .chat-content-area .sidebar-left .sidebar .sidebar-content .chat-menu .list-group-user li.active {
        background-color: #212529;
    }
    .my-devices-area .sidebar-left .sidebar {
        background-color: #2b3035;
    }
    .my-devices-area .content-right .my-file-area {
        background-color: #2b3035;
    }
    .my-devices-area .content-right .my-file-area .form-file-upload .search-form .form-control {
        background-color: #21262d;
        border-color: #40474e;
        color: #ffffff;
    }
    .my-devices-area .content-right .my-file-area .form-file-upload .search-form img {
        filter: brightness(100);
    }
    .my-devices-area .content-right .my-file-area .form-file-upload {
        border-color: #40474e;
    }
    .swal2-popup {
        background-color: #21262d;
    }
    .swal2-popup #swal2-content {
        color: #ffffff;
    }
    .my-devices-area .content-right .my-file-area .single-folder {
        background-color: #212529;
        box-shadow: none;
        border-color: #40474e;
    }
    .my-devices-area .sidebar-left .sidebar .drive-list-wrap {
        border-color: #40474e;
    }
    .my-devices-area .sidebar-left .sidebar .drive-list-wrap li a {
        color: #ffffff;
        img {
            filter: brightness(100);
        }
    }
    .my-devices-area .sidebar-left .sidebar .storage-status img {
        filter: brightness(100);
    }
    .my-devices-area .content-right .my-file-area .single-folder .dropdown .dropdown-menu {
        background-color: #212529;
        box-shadow: none;
        border-color: #40474e;
        .dropdown-item {
            color: #ffffff;
            i {
                color: #fff;
            }
            &:hover {
                color: #4fcb8d;
                i {
                    color: #4fcb8d;
                }
            }
        }
    }
    .contact-info-wrap {
        background-color: #2b3035;
    }
    .contact-form {
        background-color: #2b3035;
        .form-control {
            background-color: #212529;
            border-color: #40474e;
        }
    }
    .single-contact-info .address .location span {
        color: #ffffff;
    }
    .single-contact-info .address li span {
        color: #ffffff;
    }
    .single-contact-info .social-link li a i {
        background-color: #212529;
        color: #ffffff;
        &:hover {
            background-color: #4fcb8d;
        }
    }
    .email-content-area .sidebar-left .sidebar .sidebar-content {
        background-color: #2b3035;
    }
    .email-content-area .sidebar-left .sidebar .sidebar-content .email-menu .list-group-labels .list-group-item {
        background-color: #2b3035;
    }
    .email-content-area .sidebar-left .sidebar .sidebar-content .email-menu .tags {
        color: #ffffff;
    }
    .email-content-area .sidebar-left .sidebar .sidebar-content .email-menu .list-group-labels .list-group-item {
        color: #ffffff;
    }
    .email-content-area .sidebar-left .sidebar .sidebar-content .email-menu .list-group-messages .list-group-item {
        background-color: #2b3035;
        color: #ffffff;
    }
    .email-content-area .sidebar-left .sidebar .sidebar-content .email-menu .list-group-messages .list-group-item .me-2 {
        filter: brightness(100);
    }
    .email-content-area .sidebar-left .sidebar .sidebar-content .email-menu .list-group-messages {
        border-radius: 0;
        border-color: #40474e;
    }
    .email-content-area .content-right .email-list-wrapper .email-list {
        background-color: #2b3035;
    }
    .email-content-area .content-right .email-list-wrapper .email-list .email-list-header .header-left {
        .form-control {
            background-color: #212529;
            color: #ffffff;
        }
        img {
            filter: brightness(100);
        }
    }
    .email-content-area .content-right .email-list-wrapper .email-list .email-list-header .header-right li .form-select {
        background-color: #212529;
        color: #ffffff;
        border-color: #40474e;
    }
    .email-content-area .content-right .email-list-wrapper .email-list .email-list-footer {
        border-color: #40474e;
    }
    .email-content-area .content-right .email-list-wrapper .email-list .list-wrapper .email-list-item {
        color: #ffffff;
        border-color: #40474e;
        background-color: #2b3035;
    }
    .email-content-area .content-right .email-list-wrapper .email-list .list-wrapper .email-list-item .email-list-detail .from {
        color: #ffffff;
    }
    .email-content-area .content-right .email-list-wrapper .email-list .email-list-header {
        border-color: #40474e;
    }
    .email-content-area .content-right .email-list-wrapper .email-list .email-list-footer .email-pagination-btn button {
        background-color: #212529;
        color: #ffffff;
        &:hover {
            background-color: #4fcb8d;
        }
    }
    .email-content-area .content-right .email-list-wrapper .email-list .list-wrapper .email-list-item .email-list-actions .checkbox .form-check-input {
        background-color: transparent;
        border-color: #40474e;
    }
    .account-content {
        background-color: #2b3035;
    }
    .account-header {
        img {
            filter: brightness(100);
        }
        .rounded-pill {
            filter: unset;
        }
        h3 {
            border-color: #40474e;
        }
    }
    .form-group {
        &.icon {
            .form-control {
                background-color: #212529;
                border-color: #40474e;
                color: #ffffff;
            }
        }
    }
    .account-social-link li a {
        background-color: #212529;
        &:hover {
            background-color: #4fcb8d;
        }
    }
    .edit-profile-content {
        .form-control {
            background-color: #212529;
            border-color: #40474e;
            color: #ffffff;
        }
    }
    .profile-activity {
        background-color: #212529;
    }
    .profile-details .personal-info ul li {
        span {
            color: #ffffff;
        }
        a {
            &:hover {
                color: #4fcb8d;
            }
        }
    }
    .single-friend {
        .friend-content {
            background-color: #212529;
            h3 a {
                color: #ffffff;
            }
            .info li {
                a {
                    color: #4fcb8d;
                }
            }
        }
    }
    .pagination-area .page-numbers {
        background-color: #212529;
        color: #ffffff;
        border-color: #40474e;
        &.current {
            background-color: #4fcb8d;
        }
    }
    .icon-box {
        .icon-box-inner {
            background-color: #212529;
            .icon-box-name {
                color: #ffffff;
            }
        }
    }
    .others-title {
        border-color: #40474e;
    }
    .remixicon-area .icon-info {
        background-color: #212529;
    }
    .card-box-style {
        .list-group {
            background-color: #212529;
        }
        .list-group-item {
            background-color: #212529;
            color: #ffffff;
        }
        .page-link {
            background-color: #212529;
            color: #ffffff;
            border-color: #40474e;
        }
        .bg-light {
            background-color: #212529 !important;
            img {
                filter: brightness(100);
            }
        }
        .accordion-button {
            background-color: #212529;
            border-color: #40474e;
            color: #ffffff;
        }
        .accordion-header {
            background-color: #212529;
        }
        .accordion-item .accordion-body {
            background-color: #212529;
            color: #ffffff;
        }
        .modal-header {
            background-color: #212529;
            border-color: #40474e;
        }
        .modal-body {
            background-color: #212529;
        }
        .modal-footer {
            background-color: #212529;
            border-color: #40474e;
        }
        .jBox-Modal .jBox-title {
            background-color: #212529;
            border-color: #40474e;
        }
        .jBox-Modal .jBox-content {
            background-color: #212529;
        }
        .table > :not(caption) > * > * {
            color: #ffffff;
        }
        .input-group-text {
            background-color: #424950;
            color: #ffffff;
        }
    }
    .default-tags .btn {
        background-color: #212529;
        color: #ffffff;
    }
    .contact-list-area .table-responsive {
        background-color: #2b3035;
    }
    .contact-list-area .table tbody tr:hover {
        background-color: #2b3035;
    }
    .about-us-area {
        .card {
            background-color: #212529;
            border-color: #40474e;
        }
        .card-body {
            background-color: #212529;
            border-color: #40474e;
        }
    }
    .services-area {
        .card {
            background-color: #2b3035;
            border-color: #40474e;
        }
        .card-body {
            background-color: #2b3035;
            border-color: #40474e;
        }
    }
    .single-pricing {
        background-color: #212529;
        border-color: #40474e;
    }
    .single-pricing-style-two h3::before {
        background-color: #212529;
        border-color: #40474e;
    }
    .single-pricing-style-two {
        border-color: #40474e;
    }
    .single-pricing-style-three {
        background-color: #212529;
        border-color: #40474e;
    }
    .single-pricing-style-three .default-btn {
        background-color: #2b3035;
        color: #ffffff;
    }
    .single-pricing-style-three ul li i {
        background-color: #2b3036;
    }
    .coming-soon-content {
        background-color: #2b3036;
        img {
            filter: brightness(100);
        }
        form .form-group .input-newsletter {
            background-color: #212529;
            border-color: #40474e;
        }
    }
    .single-blog {
        background-color: #212529;
        .blog-content {
            h3 {
                border-color: #40474e;
                a {
                    color: #ffffff;
                }
            }
            ul li.admin a {
                color: #ffffff;
            }
        }
    }
    .blog-details-content .tags li a {
        background-color: #212529;
    }
    .blog-details-content .poster-info li a {
        color: #4fcb8d;
    }
    .blog-details-content blockquote {
        background-color: #212529;
    }
    .blog-details-content .social-link {
        border-color: #40474e;
        li {
            span {
                color: #ffffff;
            }
        }
    }
    .blog-details-content .comments {
        border-color: #40474e;
    }
    .widgets-area {
        .card {
            background-color: #2b3035;
            border-color: #40474e;
        }
        .card-body {
            background-color: #2b3035;
            border-color: #40474e;
        }
    }
    .single-widgets {
        background-color: #212529 !important;
        .card-body {
            background-color: #212529 !important;
            border-color: #40474e !important;
        }
    }
    .preloader-style-thirteen {
        background-color: #2b3035;
    }
    .preloader-style-fifteen {
        background-color: #2b3035;
    }
    .preloader-style-sixteen {
        background-color: #2b3035;
    }
    .preloader-style-seventeen {
        background-color: #2b3035;
    }
    .preloader-style-eighteen {
        background-color: #2b3035;
    }
    .preloader-style-nineteen {
        background-color: #2b3035;
    }
    .preloader-style-twenty {
        background-color: #2b3035;
    }
    .employees-content .total-overview li button {
        background-color: #212529;
        border: 1px solid #212529;
        color: #ffffff;
        &.active {
            background-color: #4fcb8d;
        }
    }
    .template-sidebar-option ul li .after-click-active.default-btn {
        background-color: #212529;
        border-color: #212529;
        color: #ffffff;
        font-size: 14px;
        &.active {
            background-color: #4fcb8d;
            border-color: #4fcb8d;
        }
    }
}
.darkmode-header { 
    
    .header-content-wrapper {
        background-color: #2b3035 !important;
    }
    .main-logo {
        filter: brightness(100);
    }
    .header-left-content {
        .search-bar {
            .form-control {
                background-color: #212529;
                border-color: #3e444b;
                &:focus {
                    border-color: #ffffff;
                }
            }
            img {
                filter: brightness(100);
            }
        }
    }
    .header-right-content  {
        .fullscreen-btn {
            img {
                filter: brightness(100);
            }
            &.active {
                &::before {
                    filter: invert(1);
                }
            }
        }
        .apps-option {
            img {
                filter: brightness(100);
            }
            .dropdown-menu {
                .dropdown-wrap {
                    background-color: #212529;
                    .dropdown-item {
                        span {
                            color: #ffffff;
                        }
                        &:hover {
                            background-color: #2b3035;
                        }
                    }
                }
            }
            .dropdown-menu .dropdown-footer {
                border-top: 1px solid #2b3035;
                background: #2b3035;
                border-radius: 0 0 7px 7px;
            }
        }
       
        .messenger-option {
            img {
                filter: brightness(100);
            }
            .dropdown-menu {
                .dropdown-wrap {
                    background-color: #212529;
                    .dropdown-item {
                        span {
                            color: #ffffff;
                        }
                        &:hover {
                            background-color: #2b3035;
                        }
                    }
                }
            }
            .dropdown-menu .dropdown-footer {
                border-top: 1px solid #2b3035;
                background: #2b3035;
                border-radius: 0 0 7px 7px;
            }
        }
        .notification-option {
            img {
                filter: brightness(100);
            }
            .dropdown-menu {
                .dropdown-wrap {
                    background-color: #212529;
                    .dropdown-item {
                        span {
                            color: #ffffff !important;
                        }
                        &:hover {
                            background-color: #2b3035;
                        }
                    }
                }
            }
            .dropdown-menu .dropdown-footer {
                border-top: 1px solid #2b3035;
                background: #2b3035;
                border-radius: 0 0 7px 7px;
            }
        }
    }
    .header-area {
        &.is-sticky {
            &::before {
                background-color: #212529;
            }
        }
    }
    .header-right-content .header-right-option.profile-nav-item.dropdown .dropdown-menu {
        background-color: #212529;
        .dropdown-header {
            border-color: #383e45;
            .name {
                color: #ffffff;
            }
            a {
                color: #adb5bd;
                &:hover {
                    color: #4fcb8d;
                }
            }
        }
        .dropdown-footer {
            border-color: #383e45;
        }
        .dropdown-wrap .profile-nav .nav-item .nav-link {
            color: #adb5bd;
            i {
                color: #adb5bd;
            }
            &:hover {
                color: #4fcb8d;
                i {
                    color: #4fcb8d;
                }
            }
        }
    }
    
    &.header-area {
        a {
            color: #adb5bd;
        }
        p {
            color: #adb5bd !important;
        }
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            color: #ffffff !important;
        }
        .form-control {
            background-color: #212529;
            border-color: #40474e;
            color: #ffffff;
        }
        &.header-style-two {
            background-color: #262b2f;
        }
        &.header-style-two {
            &.is-sticky::before {
                background-color: #2b3035;
            }
        }
    }
   
}
.darkmode-sidebar-menu { 
    &.sidebar-menu {
        .submenu {
            background-color: #2b3035 !important;
            .list-group-item a {
                color: #ffffff;
            }
        }
        .first-menu {
            .list-group-item {
                .icon {
                    background-color: #2b3035;
                    img {
                        filter: brightness(100);
                    }
                }
            }
        }
    }
    &.side-menu-area {
        .sidebar-nav {
            #sidebar-menu {
                background-color: #2b3035;
            }
            .metismenu {
                li {
                    &.mm-active .box-style {
                        background-color: #212529;
                        color: #ffffff;
                    }
                    &:hover .box-style {
                        background-color: #212529;
                        color: #ffffff;
                    }
                    .box-style .icon {
                        background-color: #212529;
                        img {
                            filter: brightness(100);
                        }
                    }
                    a {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}